@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/sansation');
body {
    margin: 0;
    padding: 0;
    background-color: #272422;
    font-family: "Monteserrat",'Open Sans', sans-serif;
    color: #ffffff;
}
.bg-img{
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
}

.logo-plybtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}
.logo-plybtn a{
    margin-top: 40px;
}
.ply-btn{
    all: unset;
    background-color: #7FA650;
    color: #fff;
    font-size: 36;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 20 70;
    border-radius: 20px;
    transition: background-color 300ms;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.75);
}
.ply-btn:hover {
    background-color: #64863a;
}
.ply-btn:active {
    background-color: #5a7935;
}
a {
    all: unset;
}
.logo-sm img{
    width: 200px;
    padding: 20px;
    cursor: pointer;
}