.choose-main {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 50px;
    font-weight: 100;
    padding-top: 80px;
}
.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 300ms;
    
}
.four-player-container {
    display: block;
}
.sub-container:hover {
    transform: scale(1.05);
}

.choose-txt{
    padding: 10px;
}
.four-player-info{
    display: none;
}
.tooltip{
    position: relative;
    cursor: pointer;
}
.tooltip-text{
    --scale: 0;
    visibility: hidden;
    position: absolute;
    width: max-content;
    font-size: 20;
    padding: 12px;
    background-color:#4F4844;
    border-radius: 30px 25px 25px 0px;
    transform: translateX(2%) translateY(-70%) scale(var(--scale));
    transform-origin: bottom left;
    transition: transform 200ms;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    --scale:1;
  }

@media only screen and (max-width: 600px) {
    .choose-main{
        flex-direction: column;
        font-size: 30px;
    }
    .four-player-container {
        display: none;
    }
    .four-player-info{
        display: flex;
        flex-direction: column;
    }

    .know-more-btn{
        all:unset;
        background-color: #454241;
        height: max-content;
        width: max-content;
        padding: 12px;
        border-radius: 10px;
    }
    .know-more-btn:active{
        background-color: #2c2a2a;
    }
  }