.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.game-mode {
    position: fixed;
    right: 0;
    padding: 20px;
    font-size: 25px;
}
li {
    list-style: none;
    border: 1px solid #C3CDDC;
    width: 3.6vw;
    height: 3.6vw;
    /* width: 70px;
    height: 70px; */
    font-size: 0px;
    transition: background-color 300ms;

}
li img{
    width: 100%;
}
.dead-box{
    border: 1px solid transparent;
}
.board {
    position: relative;
}
.stats {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.container {
    display: flex;
    flex-direction: column;
}
.container div{
    display: flex;
    flex-direction: row;
}
.red{
    bottom: 3vw;
    right: 3vw;
}
.yellow{
    top: 2vw;
    left: 3vw;
}
.green{
    top: 2vw;
    right: 1vw;
}
.blue{
    bottom: 3vw;
    left: 3vw;
}
.profile{
    padding: 10px 0px;
}
.time{
    text-align: center;
    padding: 10px;
    width: 120px;
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
} 
#R-time{
    background-color: #B54040;
    color: white;
    transition: box-shadow 300ms;
    /* box-shadow: 0px 0px 39px -1px #b54040; */
}
#Y-time{
    background-color: #CA9A28;
    color: white;
    transition: box-shadow 300ms;
    /* box-shadow: 0px 0px 39px -1px #ca9a28; */
}
#B-time{
    background-color: #4085B6;
    color: white;
    transition: box-shadow 300ms;
    /* box-shadow: 0px 0px 39px -1px #4085B6; */

}
#G-time{
    background-color: #538E60;
    color: white;
    transition: box-shadow 300ms;
    /* box-shadow: 0px 0px 39px -1px #538e60; */
}
.winner-screen-container {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family:Geneva, Verdana, sans-serif;
    scale: 0;
    transition: scale 300ms;
}
.winner-screen {
    padding: 80px;
    background-color: #454241;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    position: relative;
}
.winner-name {
    display: flex;
    padding: 20px;
    color: #bf3535;
    font-weight: 700;
    font-size: 60px;
}
.rematch {
    margin-top: 30px;
}
.rematch a{
    margin-left: 20px;
}
.rematch button{
    all: unset;
    background-color: #64863a;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 300ms;
    box-shadow: 0px 0px 31px -7px rgb(0 0 0 / 75%);
    width: 100px;
    height: 20px;
}
.rematch button:hover {
    background-color: rgb(82, 109, 50);   
}
.lastplayer {
    display: flex;
    justify-content: center;
}
.X{
    position: absolute;
    right: 30;
    top: 30;
    font-size: 30px;
    cursor: pointer;
}

.absolute {
    position: absolute;
    top: 90px;
    left: 20px;
}

.theme-container {
    display: flex;

}

.themetitle {
    font-size: 30px;
}

.dropbtn {
    background-color: #04aa97;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #029483;
}

.colorbox {
    display: flex;
}

.woodLight {
    background-color: #E2C5B0;
    width: 20px;
    height: 20px;
}

.woodDark {
    background-color: #AA8C77;
    width: 20px;
    height: 20px;
}
.steelLight {
    background-color: #C3CDDC;
    width: 20px;
    height: 20px;
}

.steelDark {
    background-color: #8F9EB8;
    width: 20px;
    height: 20px;
}
.greyLight {
    background-color: #DADADA;
    width: 20px;
    height: 20px;
}

.greyDark {
    background-color: #ADADAD;
    width: 20px;
    height: 20px;
}
.pinkLight {
    background-color: #E1C7E2;
    width: 20px;
    height: 20px;
}

.pinkDark {
    background-color: #C399BF;
    width: 20px;
    height: 20px;
}

.themename {
    padding: 10px;
}