
.test {
    background-color:cadetblue;
    background-color: rgb(100, 75, 43);
}
.main-space{
    display: flex;
    width: 100%;
    height: 95%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 40px;
}
.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}
.profile img{
    width: 60px;
}
.player-name{
    margin: 0 10px;
    font-size: 34px;
}
.row {
    display: flex;
    flex-direction: row;
}
.player-time {
    width: 160px;
    height: 60px;
    background-color: #ffffff;
    color: black;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-top: 15px;
}
#black-time {
    background-color: #1D1C1A;
    color: #ffffff;
}
#tog {
    font-size: 0;
}
.board{
    margin-left: 200px;
}
.board div{
    list-style: none;
    display: flex;
    margin: 0;
}
.box {
    cursor: pointer;
}
li {
    width: 6vw;
    height: 6vw;
    display: grid;
    place-items: center;
    font-size: 0;
    border: 0.1px solid #8F9EB8;
    transition: background-color 400ms;
}
.allimg{
    width: 100%;
}
@media only screen and (orientation:portrait) and (max-width:600px){
    li {
        width: 50px;
        height: 50px;
    }
    .allimg{
        width: 50px;
        height: 50px;
    }
    .main-space{
        flex-direction: column-reverse;
        padding-top: 60px;
    }
    .board {
        margin-left: 0;
    }
    .player-name{
        font-size: 20px;
    }
    #black-player-name {
        margin-right: 40px;

    }
    .profile img{
        width: 40px;
    }
    .stats {
        flex-direction: row;
        margin-top: 100px;
        height: auto;
    }
    .player-time{
        width: 120px;
        height: 50px;
        font-size: 24px;
    }
}