.container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}
.four-p-txt{
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
}

.red-blue-names{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.yellow-green-names{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.name{
    all:unset;
    margin-top: 2px;
    color:#fff;
    font-weight:500;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
    padding: 2 30 2 20;
}
#red-player{
    background-color:#B54040;
}
#red-player::placeholder{
    color:#fff
}
#blue-player{
    background-color:#4070B5;
}
#blue-player::placeholder{
    color:#fff;
}
#yellow-player{
    background-color:#CE9D2C;
}
#yellow-player::placeholder{
    color:#fff;
}
#green-player{
    background-color:#4A8D54;
}
#green-player::placeholder{
    color:#fff;
}
.clk-div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.clk-btn{
    all:unset;
    color:#fff;
    text-align: center;
    font-size: 20px;
    background-color: #4F4844;
    width:150px;
    height:50px;
    margin-left: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 4px 6px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 7px 0px rgba(0,0,0,0.75);
    transition: background-color 400ms;
}
.clk-btn:hover{
    background-color: #5f5a58;
}
#b_5min{
    margin:0;
}
.ply-btn-sm{
    all:unset;
    background-color: #7FA650;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width:150px;
    height:50px;
    border-radius: 15px;
    transition: background-color 300ms;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.75);

}
.ply-btn-sm:hover {
    background-color: #64863a;
}
.ply-btn-sm:active {
    background-color: #5a7935;
}
.clk-ply-div{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.clk-ply-div a{
    margin-left: 15;
}
.sub-container{
    display: flex;
    flex-direction: row;
}
@media only screen and (orientation:portrait) and (max-width:600px){
    .container{
        padding-top: 130px;
    }
    .clk-div{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .clk-btn{
        margin-top:15px;
    }
    .clk-ply-div{
        display: flex;
        flex-direction: column ;
        margin-top: 10px;
    }
    .ply-btn-sm{
        margin-top: 15px;
    }
    .sub-container{
        display: flex;
        flex-direction: row;
        
    }
    #b_5min{
        margin-top: 15px;
    }
    #b_10min{
        margin-left: 0;
    }
    .red-blue-names{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .yellow-green-names{
        display: flex;
        flex-direction: column;
        margin-top: 3px;
    }
    #blue-player{
        margin-top: 5px;
    }
    #green-player{
        margin-top: 5px;
    }
}