.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
    border: 1px solid #C3CDDC;
    /* width: 3.6vw;
    height: 3.6vw; */
    width: 70px;
    height: 70px;
    font-size: 0px;
}
li img{
    width: 100%;
}
.dead-box{
    border: 1px solid transparent;
}
.board div{
    display: flex;
}