.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.game-mode {
    position: fixed;
    right: 0;
    padding: 20px;
    font-size: 25px;
}

li {
    list-style: none;
    border: 1px solid #C3CDDC;
    width: 3.6vw;
    height: 3.6vw;
    /* width: 70px;
    height: 70px; */
    font-size: 0px;
    transition: background-color 500ms;
}
li img{
    width: 100%;
}
.dead-box{
    border: 1px solid transparent;
}
.board div{
    display: flex;
}
.stats {
    padding: 20px;
    font-size: 30px;
}
.red{
    margin: 130px 0px;
}
.yellow{
    margin: 130px 0px;
}
.green{
    margin: 130px 0px;
}
.blue{
    margin: 130px 0px;
}
.profile{
    padding: 10px 0px;
}
.time{
    text-align: center;
    padding: 10px;
    width: 120px;
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
#R-time{
    background-color: #B54040;
    color: white;
    /* box-shadow: 0px 0px 39px -1px #b54040; */
}
#Y-time{
    background-color: #CA9A28;
    color: white;
    /* box-shadow: 0px 0px 39px -1px #ca9a28; */
}
#B-time{
    background-color: #4085B6;
    color: white;
    /* box-shadow: 0px 0px 39px -1px #4085b6; */
}
#G-time{
    background-color: #538E60;
    color: white;
    /* box-shadow: 0px 0px 39px -1px #538e60; */
}
.winner-screen-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scale: 0;
    transition: 400ms;
}
.winner-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #454241;
    padding: 90px;
    border-radius: 30px;
    position: relative;
}
.team-win{
    font-size: 50px;
    padding-bottom: 50px;
    font-weight: 600;
}

.winner-screen-container p{
    margin-top: 0;
    font-weight:400;
    font-size: 30px;
}
.rematch{
    display: flex;
}
.rematch button{
    all: unset;
    background-color: #64863a;
    padding: 20px;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 300ms;
    box-shadow: 0px 0px 31px -7px rgb(0 0 0 / 75%);
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center;
    line-height: 0; */
}
.rematch button:hover {
    background-color: rgb(82, 109, 50);   
}
.rematch a{margin-left: 20px;}

.X{
    position: absolute;
    right: 20;
    top: 20;
    font-size: 30px;
    cursor: pointer;
}