.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.game-mode {
    position: fixed;
    right: 0;
    padding: 20px;
    font-size: 25px;
}
li {
    list-style: none;
    border: 1px solid #C3CDDC;
    width: 3.6vw;
    height: 3.6vw;
    /* width: 70px;
    height: 70px; */
    font-size: 0px;
    transition: background-color 500ms;

}
li img{
    width: 100%;
}
.dead-box{
    border: 1px solid transparent;
}
.board div{
    display: flex;
}
.stats {
    padding: 20px;
    font-size: 30px;
    width: 12vw;
}
.red{
    margin: 80px 0px;
}
.yellow{
    margin: 80px 0px;
}
.green{
    margin: 80px 0px;
}
.blue{
    margin: 80px 0px;
}
.profile{
    padding: 10px 0px;
}
.time{
    text-align: center;
    padding: 10px;
    width: 120px;
    background-color: white;
    color: black;
    border-radius: 10px;
} 
#R-time{
    background-color: #B54040;
    color: white;
    /* box-shadow: 0px 0px 39px -1px #b54040; */
}
#Y-time{
    background-color: #CA9A28;
    color: white;
    /* box-shadow: 0px 0px 39px -1px #ca9a28; */
}
#B-time{
    background-color: #4085B6;
    color: white;
    /* box-shadow: 0px 0px 39px -1px #4085b6; */
}
#G-time{
    background-color: #538E60;
    color: white;
    /* box-shadow: 0px 0px 39px -1px #538e60; */
}