body {
    margin: 0;
    padding: 0;
    background-color: #272422;
    font-family: "Arial", "Helvetica", sans-serif;
    color: #ffffff;
}
.bg-img{
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
}
.main {
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.container{
    border-radius: 10px;
    width: 70%;
    height: 100%;
    background-color: #3E3A37;
    padding: 100px;
    padding-top: 60px;
    text-align: justify;
    font-size: 25;
    font-weight: 200;

}

.title{
    color: #ffffff;
    text-align: center;
    width:"40";
    font-size: 32;
    font-weight: bolder;
}

.about{
    text-align: left;
    font-size: 30;
    font-weight: 600;
}

.Hist{
    text-align:unset;
    font-size: 30;
    font-weight: 600;
}
p5{
    text-align:left;
    font-size: 25;
    font-weight: 200;
    white-space: pre-line;
}
.sub-container {
   display:flex;
  }
.sub-container div{
    border: 1px;
    
}
.History_2{
    flex:3;
    font-size: 25;
}
.hist2_img{
    float: right;    
}
  
img {
    vertical-align: middle;
    display: table-cell;
    margin:30px;
    margin-top:0px;
    border-radius: 30px;
}
  
span {
    vertical-align: middle;
    display: table-cell;
    font-size: 25;
  }

p6{
    text-align:left;
    font-size: 25;
    font-weight: 200;
    white-space: pre-line;
}
.container-2 {
    display:table-row;
   }

p7{
    text-align:left;
    font-size: 25;
    font-weight: 200;
    white-space: pre-line;
}   

h2{
    font-size: 35;
    font-weight:bold;
    font-style: underline;
}
p8{
    text-align:left;
    font-size: 25;
    
}  

.chess-3{
    width: 100%;
}