body {
    margin: 0;
    padding: 0;
    background-color: #272422;
    font-family: "Arial", "Helvetica", sans-serif;
    color: #ffffff;
}
.bg-img{
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
}

.container{
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 200px;
    background-color: #3E3A37;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.Know-more{
    color: #ffffff;
    text-align: center;
    width:"40";
    font-size: 32;
    font-weight: bolder;
}

.about{
    text-align: left;
    font-size: 30;
    font-weight: 600;
}

p3{
    text-align:left;
    font-size: 25;
    font-weight: 200;
    white-space: pre-line;
}

.Hist{
    text-align:unset;
    font-size: 30;
    font-weight: 600;
}
p5{
    text-align:left;
    font-size: 25;
    font-weight: 200;
    white-space: pre-line;
}
.sub-container {
   display:flex;
  }
.sub-container div{
    border: 0px;
}

.hist_1{
flex:3;
font-size: 25;
padding-bottom: 0%;
}

.hist1_img{
    flex:1;
    padding-bottom: 0%;
}
  
.container-2 {
    display:flex;
   }
.container-2 div{
     border: 1px;
 }
 
.hist2_img{
    flex:1;
}
.hist_2{
 flex:1;
 font-size: 25;

 }
 
 

img {
    vertical-align: middle;
    display: table-cell;
    padding:20px;
    border-radius: 50px;
  }
  
span {
    vertical-align: middle;
    display: table-cell;
    font-size: 25;
  }

p6{
    text-align:left;
    font-size: 25;
    font-weight: 200;
    white-space: pre-line;
}
.container-2 {
    display:table-row;
   }

p7{
    text-align:left;
    font-size: 25;
    font-weight: 200;
    white-space: pre-line;
}   

h2{
    font-size: 35;
    font-weight:bold;
    font-style: underline;
}
p8{
    text-align:left;
    font-size: 25;
    
}  

.chess-3{
    width: 100%;
}