.main{
    width:100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.container{
    width:70%;
    height: 100%;
    background-color:#3E3A37 ;
    border-radius: 10px;
    padding: 100px;
    font-size: 25px;
    letter-spacing: 1px;
}
.container h1{
    font-size: 40px;
}

.no-style{
    list-style: none;
}
.about-board{
    display: flex;
}
.about-board p{
    margin: 0;
    padding: 20px;
}
.chess-board-img{
    height: 350px;
    width: 350px;
}
.pieces-list{
    padding-bottom: 20px;
}
.learn-pawn h2{
    margin: 0;
    margin-bottom: 20px;
}
.learn-pawn .pawn{
    position: relative;
    top:20px;
    height: 90px;
    margin-top: 20px;
    /* width:200px;
    height: auto; */
}
.pawn-move-gif{
    width:250px;
    height: auto;
    float: right;
    margin-left: 10px;
}